__pycache__
*.pyc
*.pyo
*.pyd
.Python
.tool-versions
.scrutinizer.yml
.python-version
.pyling.ini
.pydocstyle.ini
.gitignore
.github
.gitattributes
.git
.venv
*/tests
Dockerfile
csa_requests
scent.py
